{% extends "base.html" %}
{% load static %}
{%load widget_tweaks%}
{% block head %}
{{ form.media.css }}
{%endblock%}
{% block content %}
<div class="container-fluid w-100 m-0 p-0">
    <nav class="bg-light w-100 p-3">
    <button type=" m-auto button" class="btn btn-success btn-raised" data-toggle="modal" data-target="#Create">
  Create {{model
</button>
        </nav>
    <div class="modal fade{%if show %}show {%endif%}" id="departmentCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createDepartmentLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% with field=form.name %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  {% with field=form.summary %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  {% with field=form.admins %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control w-100' }}

        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  {% with field=form.instructors %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control w-100' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  <div class="modal-footer form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
  </form>
      </div>
    </div>
  </div>
</div>
    <div class="row m-auto container">
    {% for department in departments %}
      <a class="card col-sm-1 col-md-3 col-lg-2 m-3 p-0 text-dark" style="text-decoration: none;" href="{% url 'departmentDetail' department.id %}">
    <div class="card-body">
      <h5 class="card-title">{{department.name}}</h5>
        <p>{{department.summary}}</p>
        <form action="{% url 'departmentDetail' department.id %}" method="post">
            {%csrf_token%}
    <input class="btn btn-raised btn-danger" type="submit" name="action" value="delete" />
</form>
    </div>
  </a>
    {%endfor%}
</div>
</div>
    {% endblock %}
{% block script %}
{{ form.media.js }}
{%endblock%}