{% extends "base.html" %}
{% load widget_tweaks %}

{% block nav %}
{% endblock%}

{% block content %}
<div class="row align-items-center justify-content-center w-100 bg-dark" style="height:100vh;">
    <div class="col-5">
<div class="card">
  <div class="card-body">
        <h5 class="card-title text-center">Tritium</h5>
    {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
  {{err}}
</div>
    {% endfor %}
    {% endif %}

  </div>
</div>
    </div>
    </div>

{% endblock %}