{% extends 'base.html' %}
{% load i18n staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="card-columns">
  <div class="card">
      <div class="card-header">
          Biographical Information
{% if request.user.usafa_id == user.usafa_id %}
          <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#bioEdit">
  Edit
</button>{% endif %}
          </div>
    <div class="card-body">
        <div class="row">
        <div class="container col-6 m-auto">
        {% if user.profile_pic %}
        <img class="w-100" src="{{ user.profile_pic.url}}">
        {% else %}
        <img class="w-100" src="{% static 'profile_pic.png' %}">
        {% endif %}
        </div>
            <div class="container col-6 m-auto">
        <table class="table">
            <tbody>
            <tr>
                <th style="border-top: none;" scope="row">First Name:</th>
                <td style="border-top: none;">{{user.first_name}}</td>
            </tr>
                        <tr>
                <th scope="row">Middle Name:</th>
                <td>{{user.middle_name}}</td>
            </tr>
                        <tr>
                <th scope="row">Last Name:</th>
                <td>{{user.last_name}}</td>
            </tr>
                        <tr>
                <th scope="row">Gender:</th>
                <td>{{user.get_gender_display}}</td>
            </tr>
                        <tr>
                <th scope="row">Age:</th>
                <td>{{user.calculate_age}}</td>
            </tr>
            </tbody>
        </table>
                </div>
    </div>
  </div>
      </div>
  <div class="card">
    <div class="card-header">Contact Information{% if request.user.usafa_id == user.usafa_id %}
              <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#contactEdit">
  Edit
</button>{% endif %}
    </div>
    <div class="card-body   ">
        <table class="table">
            <tbody>
            <tr>
                <th style="border-top: none;" scope="row">Official Email:</th>
                <td style="border-top: none;">{{user.official_email}}</td>
            </tr>
                        <tr>
                <th scope="row">Official Phone:</th>
                <td>{{user.official_phone_number}}</td>
            </tr>
                        <tr>
                <th scope="row">Email:</th>
                <td>{{user.email}}</td>
            </tr>
                        <tr>
                <th scope="row">Phone Number:</th>
                <td>{{user.phone_number}}</td>
            </tr>
                        <tr>
                <th scope="row">Username:</th>
                <td>{{user.username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Location
{% if request.user.usafa_id == user.usafa_id %}
              <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#locationEdit">
  Edit
</button>{% endif %}</div>
    <div class="card-body">
        <table class="table">
            <tbody>
            {% if user.building %}
            <tr>
                <th style="border-top: none;" scope="row">Building:</th>
                <td style="border-top: none;">{{user.building}}</td>
            </tr>
            {% endif %}
                        {% if user.room_number %}
            <tr>
                <th scope="row">Room Number:</th>
                <td>{{user.room_number}}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
  </div>
  {% if user.class_year %}
  <div class="card">
    <div class="card-header">Cadet Information</div>
    <div class="card-body">
        <table class="table">
            <tbody>
                        {% if user.academic_advisor%}
            <tr>
                <th scope="row">Academic Advisor:</th>
                <td>{{user.academic_advisor}}</td>
            </tr>
            {% endif %}
                        {% if user.class_year %}
            <tr>
                <th scope="row">Class Year:</th>
                <td>{{user.class_year}}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
  </div>
  {% endif %}
</div>

{% if request.user.usafa_id == user.usafa_id %}

{% with form=bioForm %}
<div class="modal fade" id="bioEdit" tabindex="-1" role="dialog" aria-labelledby="bioEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BioInfo">Biographical Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form method="post" action="{% url 'user_page' user.usafa_id %}">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="bioForm" value="bioForm">Save changes</button>
      </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endwith %}

{% with form=contactForm %}
<div class="modal fade" id="contactEdit" tabindex="-1" role="dialog" aria-labelledby="contactEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactInfo">Contact Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form method="post" action="{% url 'user_page' user.usafa_id %}">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="contactForm" value="contactForm">Save changes</button>
      </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endwith %}

{% with form=locationForm %}
<div class="modal fade" id="locationEdit" tabindex="-1" role="dialog" aria-labelledby="locationEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationInfo">Location Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form method="post"  action="{% url 'user_page' user.usafa_id %}">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="locationForm" value="locationForm">Save changes</button>
      </div>
</form>
      </div>
    </div>
  </div>
</div>
{% endwith %}

{% endif %}

{% endblock %}

{% block footer %}
{% if bForm %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#bioEdit').modal('show');
    });
</script>
{% endif %}
{% if cForm %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#contactEdit').modal('show');
    });
</script>
{% endif %}
{% if lForm %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#locationEdit').modal('show');
    });
</script>
{% endif %}
{% endblock %}