{% extends "base.html" %}
{% load static %}
{%load widget_tweaks%}
{% block head %}
{{ form.media.css }}
{%endblock%}
{% block content %}
<div class="container-fluid w-100 m-0 p-0">
        <nav class="bg-light w-100 p-3 row mx-0">
              <ol class="breadcrumb col-md-3 col-sm-12 my-auto mr-auto bg-light">
    <li class="breadcrumb-item"><a href="{% url 'boards'%}">Boards</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{board.name}}</li>
  </ol>
            <button type="button" class="btn btn-warning btn-raised my-auto ml-3" data-toggle="modal" data-target="#editBoard">
  Edit Board
</button>
        <button type="button" class="btn btn-success btn-raised my-auto ml-3" data-toggle="modal" data-target="#createPost">
  Create Post
</button>
        </nav>
        {% with form=eForm %}
    <div class="modal fade{%if eShow %}show {%endif%}" id="editBoard" tabindex="-1" role="dialog" aria-labelledby="editBoard" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createDepartmentLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% with field=form.name %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  {% with field=form.description %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  <div class="modal-footer form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name="action" value="edit">Save changes</button>
      </div>
  </form>
      </div>
    </div>
  </div>
</div>
{%endwith%}
            {% with form=cForm %}
    <div class="modal fade{%if eShow %}show {%endif%}" id="createPost" tabindex="-1" role="dialog" aria-labelledby="editBoard" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPostLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% with field=form.message %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  {% with field=form.is_anonymous %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endwith %}
                  <div class="modal-footer form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name="action" value="create">Save changes</button>
      </div>
  </form>
      </div>
    </div>
  </div>
</div>
{%endwith%}
    <div class="row m-3">
    {% for post in posts %}
      <a class="card w-100 text-dark m-3" style="text-decoration: none;" href="{% url 'post' post.id %}">
    <div class="card-body row d-flex justify-content-between">
        <div class="col-md-8 col-sm-12">
        <h5 class="w-100 m-3">{{post.message}}</h5>
            </div>
        <div class="col-md-4 col-sm-12 row d-flex justify-content-between">
            <div class="col-4">
            <h5 class="text-center">Votes</h5>
            </div>
            <div class="col-4">
                      <button onclick="document.location.href = '{%url 'boards'%}'; return false" type="button" class="btn btn-success btn-raised m-auto">
  <i class="fas fa-arrow-up"></i>
</button>
            </div>
<div class="col-4">
                    <button onclick="document.location.href = '{%url 'boards'%}'; return false" class="btn btn-warning btn-raised m-auto">
  <i class="fas fa-arrow-down"></i>
</button>
    </div>
        </div>

    </div>
  </a>
    {%endfor%}
</div>
</div>
    {% endblock %}
{% block script %}
{{ form.media.js }}
{%endblock%}