{% extends "base.html" %}

{% block fullcontent %}
<nav class="navbar navbar-dark static-top discus-header">

    <a class="btn btn-secondary btn-lg" href="{% url 'discus_home' %}" role="button">Discus Home</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'discus_board' board.id %}" role="button">{{ board.name }}</a>
      <a class="btn btn-secondary btn-lg ml-auto" href="{% url 'new_post' board.id %}" role="button">Post</a>
          </nav>

<div class="m-3 p-3">
{% for i in posts %}
<div class="card mb-3 text-white" style="background-color:{{i.color}};">
  <h5 class="card-header">{{ i.created }}</h5>
  <div class="card-body">
    <h5 class="card-text">{{ i.message }}</h5>
    <footer class="blockquote-footer text-white">{{i.creator}}</footer>
    <a href="{{ i.get_url }}" class="btn btn-primary m-3">View Post</a>
    {% if i.creator.usafa_id == request.user.usafa_id %}
    <a href="{% url 'delete_post' board.id i.id %}" class="btn btn-danger m-3">Delete Post</a>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}